@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

:root {
    --primary-color-text: #6E6D6D;
    --primary-color-headlines: #C994D5;
    --primary-color-buttons: #B0DAE0;
    --primary-background-color: #f0e9e9;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    color: var(--primary-color-text);
    background-color: var(--primary-background-color);
}

.menu {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.page-menu {
    justify-self: end;
}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--primary-color-headlines);
    border-radius: 10px;
    background-color: var(--primary-color-buttons);
    margin: 15px;
}

.line {
    width: 60px;
    height: 5px;
    background-color: var(--primary-color-headlines);
    border-radius: 5px;
    margin: 6px 0;
}

.profile-image img {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 25px;
}


.profile {
    text-align: center;
    
}

.logo-span {
    display: inline-block;
    margin: 25px;
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    color: var(--primary-color-headlines);
}

hr {
        border: 1px solid #6E6D6D;
        margin: 20px auto;
        border-radius: 7px;
        background-color: var(--primary-color-headlines);
        height: 10px;
        width: 252px;
        border: none;
    }

.headline h3 {
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    color: var(--primary-color-headlines);
    text-align: center;
    margin: 15px 0;
}

.frame {
    width: 100%;
    text-align: center;
}

.frame img {
    display: inline-block;
    width: 337px;
    height: 226px;
    margin: 15px;
}

.my-clients {
    width: 100%;
}

.card {
    width: 100%;
    text-align: center;
    margin-top: 24px;
}

.card h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    margin: 5px;
}

.card span {
    display: inline-block;
    background-color: var(--primary-color-headlines);
    padding: 4px;
    margin-bottom: 5px;
}

.card p {
    margin: 15px;
}

.contact {
    width: 100%;
    text-align: center;
    padding-top: 32px;
}

.contact button {
    border: none;
    text-transform: uppercase;
    font-size: 24px;
    background-color: var(--primary-color-buttons);
    padding: 15px 51px;
    color: var(--primary-color-headlines);
    margin: 15px;
}

.contact-details img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

.contact-details ul{
        list-style: none;

    }


.social-media {
    width: 100%;
    text-align: center;
    padding-top: 48px;
}

.social-media-icons ul {
    list-style: none;
    padding: 0;
}

.social-media-icons ul li {
    display: inline-block;
    margin: 10px;
}

footer {
    text-align: center;
    padding-top: 45px;
}

.menu-list {
    display: none;
}

.profile-learn-more {
    display: none;
}

.my-works-intro {
    display: none;
}

.gallery {
    display: none;
}

.contact-form {
    display: none;
}

.contact-details {
    display: none;
}

#contact-me-headline {
    display: none;
}

.contact-intro {
    display: none;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .hamburger {
        display: none;
    }

    .menu {
        grid-template-columns: 1fr 2fr;
        align-items: center;
        box-sizing: border-box;
        padding-right: 32px;
    }

    .menu-list {
        display: block;
    }

    .menu-list ul {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 22px;
        color: var(--primary-color-headlines);
        font-family: 'Russo One', sans-serif;
    }

    .menu-list ul li {
        display: inline-block;
        margin-right: 8px;
    }

    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .profile-image img {
        width: 264px;
        height: 264px;
    }

    .profile-learn-more {
        display: grid;
        align-items: center;
        justify-content: start;
    }

    .profile-details span {
        display: block;
        width: 284px;
        font-size: 20px;
        text-align: start;
        margin-left: 24px;
        font-weight: 300;
    }

    .profile-details button {
        display: block;
        background-color: var(--primary-color-buttons);
        font-size: 20px;
        color: var(--primary-color-headlines);
        width: 251px;
        border: none;
        padding: 14px 20px;
        margin-left: 24px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .my-works .frame {
        display: none;
    }

    hr {
        margin-left: 32px;
    }

    .headline h3 {
        padding-left: 32px;
        text-align: start;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3 auto);
        grid: 10px;
        margin-top: 32px;
    }

    .gallery-item {
        text-align: center;
    }

    .gallery img {
        width: 337px;
        height: 226px;
        object-fit: cover;
    }

    .my-clients {
        margin-top: 42px;
    }

    .my-clients p {
        width: 479px;
        margin: 15px auto;
    }

    .card {
        margin-top: 48px;
    }

    .btn-contact {
        display: none;
    }

    #contact-me-headline {
    display: block;
    }

    .contact-intro {
        display: block;
        width: 100%;
        margin: 15px auto;
    }

    .contact-intro p {
        width: 326px;
        text-align: start;
        margin-left: 32px;
    }

    .contact-form {
        display: block;
        width: 100%;
        font-size: 18px;
    }

    .contact-form form {
        text-align: start;
        box-sizing: border-box;
        padding: 32px;
    }

    input, textarea {
        width: 100%;
        background-color: var(--primary-color-buttons);
    }

    input {
        height: 34px;
    }

    .contact-form button {
        background-color: var(--primary-color-headlines);
        color: var(--primary-background-color);
        text-transform: none;
        margin-left: 0;
    }

    .contact-details {
        display: block;
        width: 100%;
    }

    .contact-details ul{
        width: 100%;
        list-style: none;
        padding: 0;
        text-align: start;
        margin-left: 32px;
        font-size: 24px;
    }

    .contact-details img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .social-media-icons ul {
        text-align: start;
        margin-left: 32px;
    }
}
@media (min-width: 1025px) {
    .hamburger {
        display: none;
    }


    .menu {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .menu-list {
        display: block;
        box-sizing: border-box;
        padding: 16px;
    }

    .menu-list ul {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 24px;
        color: var(--primary-color-headlines);
        font-family: 'Russo One', sans-serif;
    }

    .menu-list ul li {
        display: inline-block;
        margin-right: 10px;
    }

    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .profile-image img {
        width: 500px;
        height: 500px;
    }

    .profile-learn-more {
        display: grid;
        align-items: center;
        justify-content: start;
    }

    .profile-details span {
        display: block;
        width: 284px;
        font-size: 25px;
        text-align: start;
        margin-left: 24px;
        font-weight: 300;
    }

    .profile-details button {
        display: block;
        background-color: var(--primary-color-buttons);
        font-size: 25px;
        color: var(--primary-color-headlines);
        width: 364px;
        height: 94px;
        border: none;
        padding: 14px 20px;
        margin-left: 24px;
        margin-top: 10px;
        border-radius: 10px;
    }

    hr {
        height: 6px;
        width: 800px;
    }

    .headline h3 {
    font-size: 40px;
    text-transform: uppercase;
}

    .frame {
   display: none;
}

    .btn-contact {
    display: none;
}

 .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid: 10px;
        margin: 32px auto;
    }

    .gallery-item {
        text-align: center;
    }

    .gallery img {
        width: 337px;
        height: 226px;
        object-fit: cover;
    }

    .my-works-intro p {
        width: 923px;
        text-align: center;
        margin: 0 auto;
    }

    .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 95%;
    margin: 48px auto;
    border: 2px solid var(--primary-color-text);
    padding: 32px;
}

    .card h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    margin: 5px;
}

    .card span {
    display: inline-block;
    background-color: var(--primary-color-headlines);
    padding: 4px;
    margin-bottom: 5px;
}

    .card p {
    margin: 0px;
}

.card-image img {
    width: 150px;
    height: 100px;

}

.card-text-content {
    text-align: start;
    box-sizing: border-box;
    padding-right: 64px;

}
.role-description {
    display: inline-block;
    margin: 10px 0;
    margin-right: 16px;

}

.get-in-touch {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);

}

   .contact-form {
        display: block;
        width: 100%;
        font-size: 18px;
        grid-column: 1/2;  
        grid-row: 1/3;
    }

    .contact-form form {
        text-align: start;
        box-sizing: border-box;
        padding: 32px;
    }

    input, textarea {
        width: 100%;
        background-color: var(--primary-color-buttons);
        border: none;
    }

    input {
        height: 34px;
        margin-bottom: 24px;
    }

    .contact-form button {
        background-color: var(--primary-color-headlines);
        color: var(--primary-background-color);
        text-transform: none;
        margin-left: 0;
    }

       .contact-details img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .social-media {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: start;
        box-sizing: border-box;
        padding: 32px;
    }

    .social-media h3 {
        text-align: start;
        margin-left: 0;
    }

    #contact-me-headline {
        display: block;
    }

    .contact-intro {
        display: block;

    }

    .contact-details {
        display: block;
        text-align: start;
        grid-column: 2/3;
        grid-row: 1/2;
        box-sizing: border-box;
        padding: 32px;
    }

    .contact-details ul{
        list-style: none;
        padding: 0;
        font-size: 24px;
    }

    .contact-details ul li {
        margin-bottom: 24px;
    }

    .social-media-icons ul {
    list-style: none;
    padding: 0;
}

    .social-media-icons ul li {
    display: inline-block;
    margin: 0;
}

  .menu-list ul li a {
        display: inline-block;
        text-decoration: none;
        color: var(--primary-color-headlines); 
        transition: transform 0.3s ease, text-shadow 0.3s ease;
    }

    .menu-list ul li a:hover {
        transform: scale(1.1) ;
        text-shadow: 2px 2px 2px var(--primary-color-text);


}

    .gallery img:hover {
    /*transform: scale(1.05);*/
    box-shadow: 0 4px 8px var(--primary-color-text);
    transition: transform 0.3s ease;

}

.profile-details button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px var(--primary-color-text);
    transition: transform 0.3s ease;

}

input, textarea:focus {
    outline: none;
    box-sizing: border-box;
    border-top: 2px solid var(--primary-color-headlines);
    border-left: 2px solid var(--primary-color-headlines);
    box-shadow: 0 0 5px var(--primary-color-headlines);
}

input, textarea:hover {
    box-shadow: 0 0 5px var(--primary-color-headlines);
}

input:hover {
    box-shadow: 0 0 5px var(--primary-color-headlines);
}

}